<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="answer">
	<!-- 
		본래 패키지를 포함한 타입의 클래스이름명을 사용하나
		typeAlias에 등록된 Alias값을 사요할 수 도 있음
	 -->
	<resultMap type="Answer" id="AnswerResult">
		<result property="questionId" column="questionId"/>
		<result property="memberId" column="memberId"/>
		<result property="answer" column="answer"/>
 	</resultMap>

	<select id="selectAnswerListById" parameterType="String" resultMap="AnswerResult">
		select *
		from answer
		where memberId = #{memberId}
		order by questionId asc
	</select>

	<select id="selectAnswer" parameterType="hashMap" resultMap="AnswerResult">
		select *
		from answer
		where memberId = #{memberId} and questionId = #{questionId}	
	</select>
 	
 	
 	<insert id="insertAnswer" parameterType="vo.Answer">
 		insert into answer(questionId, memberId, answer)
 		values(#{questionId}, #{memberId}, #{answer})
 	</insert>
 	
 	<update id="updateAnswer" parameterType="vo.Answer">
 		update Answer
 		set answer = #{answer}
 		where memberId = #{memberId} and questionId = #{questionId}	
 	</update>
 	
 	<delete id="deleteAnswer" parameterType="hashMap">
 		delete from Answer
 		where memberId = #{memberId} and questionId = #{questionId}	
 	</delete>
 	
</mapper>
