<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="projectCareer">
	<!-- 
		본래 패키지를 포함한 타입의 클래스이름명을 사용하나
		typeAlias에 등록된 Alias값을 사요할 수 도 있음
	 -->
	<resultMap type="ProjectCareer" id="ProjectCareerResult">
		<id property="projectCareerId" column="projectCareerId"/>
		<result property = "resumeId" column ="resumeId"/>
		<result property = "projectName" column = "projectName"/>
		<result property = "developmentPeriod" column = "developmentPeriod" />
		<result property = "duration" column = "duration" />
		<result property = "language" column = "language" />
		<result property = "dbos" column = "dbos" />
		<result property = "etc" column = "etc" />
 	</resultMap>
 	
 	<select id="allProjectCareerById" parameterType="String" resultMap="ProjectCareerResult">
 		 select *
 		 from ProjectCareer
 		 where resumeId = #{resumeId}		
 	</select>
 	
 	<insert id="insertProjectCareer" parameterType="vo.ProjectCareer">
 		insert into ProjectCareer(projectCareerId, resumeId, projectName, developmentPeriod, duration, language, dbos, etc) 
 		values(
 			#{projectCareerId}, 
 			#{resumeId}, 
 			#{projectName, jdbcType=VARCHAR}, 
 			#{developmentPeriod, jdbcType=VARCHAR}, 
 			#{duration, jdbcType=VARCHAR}, 
 			#{language, jdbcType=VARCHAR}, 
 			#{dbos, jdbcType=VARCHAR}, 
 			#{etc, jdbcType=VARCHAR}
 		)
 	</insert>
 	
 	<update id="updateProjectCareer" parameterType="vo.ProjectCareer">
 		update ProjectCareer
 		set resumeId = #{resumeId},
 			projectName = #{projectName},
 			developmentPeriod = #{developmentPeriod},
 			duration = #{duration},
 			language = #{language},
 			dbos = #{dbos},
 			etc = #{etc}
 		where projectCareerId = #{projectCareerId}
 	</update>
 	
 	<update id="mergeProjectCareer" parameterType="vo.ProjectCareer">
 		MERGE INTO ProjectCareer A
		USING (
			select 
				#{projectCareerId} projectCareerId, 
 				#{resumeId} resumeId, 
 				#{projectName, jdbcType=VARCHAR} projectName, 
 				#{developmentPeriod, jdbcType=VARCHAR} developmentPeriod, 
 				#{duration, jdbcType=VARCHAR} duration, 
 				#{language, jdbcType=VARCHAR} language, 
 				#{dbos, jdbcType=VARCHAR} dbos, 
 				#{etc, jdbcType=VARCHAR} etc
			from dual
		) B
		ON (A.projectCareerId = B.projectCareerId)
		WHEN MATCHED THEN
			update set
				projectName = #{projectName, jdbcType=VARCHAR}, 
	 			developmentPeriod = #{developmentPeriod, jdbcType=VARCHAR}, 
	 			duration# = {duration, jdbcType=VARCHAR}, 
	 			language# = {language, jdbcType=VARCHAR}, 
	 			dbos = #{dbos, jdbcType=VARCHAR}, 
	 			etc = #{etc, jdbcType=VARCHAR}
 		WHEN NOT MATCHED THEN
 			INSERT (
 				A.projectCareerId, A.resumeId, A.projectName, A.developmentPeriod, A.duration, A.language, A.dbos, A.etc) 
 			VALUES(
 				#{projectCareerId}, 
	 			#{resumeId}, 
	 			#{projectName, jdbcType=VARCHAR}, 
	 			#{developmentPeriod, jdbcType=VARCHAR}, 
	 			#{duration, jdbcType=VARCHAR}, 
	 			#{language, jdbcType=VARCHAR}, 
	 			#{dbos, jdbcType=VARCHAR}, 
	 			#{etc, jdbcType=VARCHAR}
 			)
 	</update>
 	
 	<delete id="deleteProjectCareerById" parameterType="String">
 		delete from ProjectCareer
 		where resumeId = #{loginId}
 	</delete>
 	
</mapper>